
<div class="col-md-9">
  <h3>Recommendations based on my ratings <button class="btn btn-default" ng-click="getSimilarMovies()"><span class="glyphicon glyphicon-refresh"></span></button></h3>

  <alert ng-if="similarMovies == null || similarMovies.length == 0" type="info">Please rate movies to receive recommendations.</alert>
  <div movielist movies="similarMovies"></div>


  <h3>Recommendations based on my friends <button class="btn btn-default" ng-click="getFriendsMovies()"><span class="glyphicon glyphicon-refresh"></span></button></h3>

  <alert ng-if="friendsMovies == null || friendsMovies.length == 0" type="info">Please add friends to receive recommendations.</alert>
  <div movielist movies="friendsMovies"></div>
</div>
